@import '../01-settings/fontSizes';
@import '../01-settings/variables';

@typro-button-baseColor: #f2f2f2;
@typro-button-baseHoverColor: #f8f8f8;

@typro-button-primaryColor: @typro-info;
@typro-button-primaryHoverColor: @typro-info-hover;

@typro-button-dangerColor: @typro-danger;
@typro-button-dangerHoverColor: @typro-danger-hover;

@typro-button-successColor: @typro-success;
@typro-button-successHoverColor: @typro-success-hover;

.button {
	display: inline-block;
	padding: 0.375em 1em;
	box-sizing: border-box;

	& when (@typro-featureToggles-componentsNoSpace = false) {
		margin-bottom: 1px;
	}

	font: inherit;
	font-weight: normal;
	background-color: @typro-button-baseColor;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent);
	font-size: @typro-fontSize-medium;
	border-radius: @typro-borderRadius;
	border: none;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 -0.125rem 0 rgba(0,0,0,0.1) inset;

	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: contrast(@typro-button-baseColor);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: @typro-button-baseHoverColor;
	}

	&:active {
		box-shadow: none;
	}
}


// Colors
.button--primary {
	background-color: @typro-button-primaryColor;

	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: contrast(@typro-button-primaryColor);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: @typro-button-primaryHoverColor;
	}
}


.button--inactive,
.button--danger {
	background-color: @typro-button-dangerColor;

	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: contrast(@typro-button-dangerColor);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: @typro-button-dangerHoverColor;
	}
}


.button--active,
.button--success {
	background-color: @typro-button-successColor;

	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: contrast(@typro-button-successColor);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: @typro-button-successHoverColor;
	}
}


// Sizes
.button--xs,
.button--xsmall {
	font-size: @typro-fontSize-xsmall;
}


.button--sm,
.button--small {
	font-size: @typro-fontSize-small;
}


.button--lg,
.button--large {
	font-size: @typro-fontSize-large;
}


.button--xl
.button--xlarge {
	font-size: @typro-fontSize-xlarge;
}
