@import '../01-settings/fontSizes';
@import '../01-settings/variables';

@typro-button-baseColor: #fafafa;
@typro-button-baseHoverColor: #fff;
@typro-button-baseBorderColor: #ddd;

@typro-button-primaryColor: @typro-info;
@typro-button-primaryHoverColor: @typro-info-hover;
@typro-button-primaryBorderColor: @typro-info-hover;

@typro-button-dangerColor: @typro-danger;
@typro-button-dangerHoverColor: @typro-danger-hover;
@typro-button-dangerBorderColor: @typro-danger-hover;

@typro-button-successColor: @typro-success;
@typro-button-successHoverColor: @typro-success-hover;
@typro-button-successBorderColor: @typro-success-hover;


.button {
	display: inline-block;
	padding: 0.375em 1em;
	box-sizing: border-box;

	& when (@typro-featureToggles-componentsNoSpace = false) {
		margin-bottom: 1px;
	}

	font: inherit;
	font-weight: normal;
	background-color: @typro-button-baseColor;
	background-image: linear-gradient(0deg, rgba(50, 50, 50, 0.1), transparent);
	font-size: @typro-fontSize-medium;
	border-radius: @typro-borderRadius;
	border: none;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 -0.125rem 0 rgba(0,0,0,0.1) inset;
	border: 0.0625em solid @typro-button-baseBorderColor;

	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: contrast(@typro-button-baseColor);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: @typro-button-baseHoverColor;
	}

	&:active {
		box-shadow: none;
		background-image: linear-gradient(180deg, rgba(50, 50, 50, 0.1), rgba(50, 50, 50, 0.025));
	}
}


.button__label,
.button__icon {
	display: inline-block;
}


.button__label {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}


.button:has(>.button__icon),
.button:has(>.button__label),
.button--withIcon {
	padding-top: 0.125em;
	padding-bottom: 0.125em;
	display: inline-flex;
	align-items: center;
	gap: 0.375em;
}


// Colors
.button--primary {
	background-color: @typro-button-primaryColor;
	border-color: @typro-button-primaryBorderColor;

	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: contrast(@typro-button-primaryColor);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: @typro-button-primaryHoverColor;
	}
}


.button--inactive,
.button--danger {
	background-color: @typro-button-dangerColor;
	border-color: @typro-button-dangerBorderColor;

	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: contrast(@typro-button-dangerColor);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: @typro-button-dangerHoverColor;
	}
}


.button--active,
.button--success {
	background-color: @typro-button-successColor;
	border-color: @typro-button-successBorderColor;

	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: contrast(@typro-button-successColor);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: @typro-button-successHoverColor;
	}
}


// Sizes
.button--xs,
.button--xsmall {
	font-size: @typro-fontSize-xsmall;
}


.button--sm,
.button--small {
	font-size: @typro-fontSize-small;
}


.button--lg,
.button--large {
	font-size: @typro-fontSize-large;
}


.button--xl,
.button--xlarge {
	font-size: @typro-fontSize-xlarge;
}
