@typro-flashMessage-default: #aaa;
@typro-flashMessage-info: #6aaebd;
@typro-flashMessage-success: #61ab63;
@typro-flashMessage-error: #b35d5d;
@typro-flashMessage-warning: #cead52;


.flashMessage {
	padding: 0.5em 1em;
	border-radius: 3px;

	& when (@typro-featureToggles-componentsNoSpace = false) {
		margin-bottom: 1em;
	}

	background-color: @typro-flashMessage-default;
	color: #fff;
}


.flashMessage--info {
	background-color: @typro-flashMessage-info;
}


.flashMessage--success {
	background-color: @typro-flashMessage-success;
}


.flashMessage--error {
	background-color: @typro-flashMessage-error;
}


.flashMessage--warning {
	background-color: @typro-flashMessage-warning;
}
