.icon {
	display: inline-block;
	line-height: 1;
	box-sizing: border-box;
	width: 1.25em; // 20px
	height: 1.25em;
	vertical-align: middle;
	position: relative;
	color: inherit;
	flex-shrink: 0;
	flex-grow: 0;
}


.icon--lg {
	width: 2em; // 32px
	height: 2em;
}


.icon--xl {
	width: 3em; // 48px
	height: 3em;
}
