.icon {
	display: inline-block;
	line-height: 1;
	box-sizing: border-box;
	width: 2rem; // 32px
	height: 2rem;
	vertical-align: middle;
	position: relative;
	color: inherit;
	flex-shrink: 0;
	flex-grow: 0;
}


.icon--xs {
	width: 1.25rem; // 20px
	height: 1.25rem;
}


.icon--lg {
	width: 3rem; // 48px
	height: 3rem;
}
