/* CSS Document */

body {
	text-align: justify;
}

#telo {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

#toRightMenu {
	text-align: right;
}

p {
	
}
/*
h1,h2,h3,h4,h5,h6 {
	background:#222;
	color: white;
	color: gold;
}

#telo {
	background: gold;
	background: white;
}

body {
	background: #222;
}*/
