.grid {
	display: grid;
	gap: @typro-spacing-medium;
	grid-template-columns: 1fr;
}


.grid--2cols {
	grid-template-columns: repeat(2, 1fr);
}


.grid--3cols {
	grid-template-columns: repeat(3, 1fr);
}


.grid--4cols {
	grid-template-columns: repeat(4, 1fr);
}


.grid--5cols {
	grid-template-columns: repeat(5, 1fr);
}


.grid--6cols {
	grid-template-columns: repeat(6, 1fr);
}


.grid--7cols {
	grid-template-columns: repeat(7, 1fr);
}


.grid--8cols {
	grid-template-columns: repeat(8, 1fr);
}


.grid--9cols {
	grid-template-columns: repeat(9, 1fr);
}


.grid--10cols {
	grid-template-columns: repeat(10, 1fr);
}


.grid--11cols {
	grid-template-columns: repeat(11, 1fr);
}


.grid--12cols {
	grid-template-columns: repeat(12, 1fr);
}


.grid__item,
.grid__item--1col {
	grid-column: span 1;
}


.grid__item--2cols {
	grid-column: span 2;
}


.grid__item--3cols {
	grid-column: span 3;
}


.grid__item--4cols {
	grid-column: span 4;
}


.grid__item--5cols {
	grid-column: span 5;
}


.grid__item--6cols {
	grid-column: span 6;
}


.grid__item--7cols {
	grid-column: span 7;
}


.grid__item--8cols {
	grid-column: span 8;
}


.grid__item--9cols {
	grid-column: span 9;
}


.grid__item--10cols {
	grid-column: span 10;
}


.grid__item--11cols {
	grid-column: span 11;
}


.grid__item--12cols {
	grid-column: span 12;
}


@media only screen and (min-width: @typro-breakpoint-xs) {
	.grid--2cols\@xs {
		.grid--2cols();
	}

	.grid--3cols\@xs {
		.grid--3cols();
	}

	.grid--4cols\@xs {
		.grid--4cols();
	}

	.grid--5cols\@xs {
		.grid--5cols();
	}

	.grid--6cols\@xs {
		.grid--6cols();
	}

	.grid--7cols\@xs {
		.grid--7cols();
	}

	.grid--8cols\@xs {
		.grid--8cols();
	}

	.grid--9cols\@xs {
		.grid--9cols();
	}

	.grid--10cols\@xs {
		.grid--10cols();
	}

	.grid--11cols\@xs {
		.grid--11cols();
	}

	.grid--12cols\@xs {
		.grid--12cols();
	}

	.grid__item--1col\@xs {
		grid-column: span 1;
	}


	.grid__item--2cols\@xs {
		grid-column: span 2;
	}


	.grid__item--3cols\@xs {
		grid-column: span 3;
	}


	.grid__item--4cols\@xs {
		grid-column: span 4;
	}


	.grid__item--5cols\@xs {
		grid-column: span 5;
	}


	.grid__item--6cols\@xs {
		grid-column: span 6;
	}


	.grid__item--7cols\@xs {
		grid-column: span 7;
	}


	.grid__item--8cols\@xs {
		grid-column: span 8;
	}


	.grid__item--9cols\@xs {
		grid-column: span 9;
	}


	.grid__item--10cols\@xs {
		grid-column: span 10;
	}


	.grid__item--11cols\@xs {
		grid-column: span 11;
	}


	.grid__item--12cols\@xs {
		grid-column: span 12;
	}
}


@media only screen and (min-width: @typro-breakpoint-sm) {
	.grid--2cols\@sm {
		.grid--2cols();
	}

	.grid--3cols\@sm {
		.grid--3cols();
	}

	.grid--4cols\@sm {
		.grid--4cols();
	}

	.grid--5cols\@sm {
		.grid--5cols();
	}

	.grid--6cols\@sm {
		.grid--6cols();
	}

	.grid--7cols\@sm {
		.grid--7cols();
	}

	.grid--8cols\@sm {
		.grid--8cols();
	}

	.grid--9cols\@sm {
		.grid--9cols();
	}

	.grid--10cols\@sm {
		.grid--10cols();
	}

	.grid--11cols\@sm {
		.grid--11cols();
	}

	.grid--12cols\@sm {
		.grid--12cols();
	}

	.grid__item--1col\@sm {
		grid-column: span 1;
	}


	.grid__item--2cols\@sm {
		grid-column: span 2;
	}


	.grid__item--3cols\@sm {
		grid-column: span 3;
	}


	.grid__item--4cols\@sm {
		grid-column: span 4;
	}


	.grid__item--5cols\@sm {
		grid-column: span 5;
	}


	.grid__item--6cols\@sm {
		grid-column: span 6;
	}


	.grid__item--7cols\@sm {
		grid-column: span 7;
	}


	.grid__item--8cols\@sm {
		grid-column: span 8;
	}


	.grid__item--9cols\@sm {
		grid-column: span 9;
	}


	.grid__item--10cols\@sm {
		grid-column: span 10;
	}


	.grid__item--11cols\@sm {
		grid-column: span 11;
	}


	.grid__item--12cols\@sm {
		grid-column: span 12;
	}
}


@media only screen and (min-width: @typro-breakpoint-md) {
	.grid--2cols\@md {
		.grid--2cols();
	}

	.grid--3cols\@md {
		.grid--3cols();
	}

	.grid--4cols\@md {
		.grid--4cols();
	}

	.grid--5cols\@md {
		.grid--5cols();
	}

	.grid--6cols\@md {
		.grid--6cols();
	}

	.grid--7cols\@md {
		.grid--7cols();
	}

	.grid--8cols\@md {
		.grid--8cols();
	}

	.grid--9cols\@md {
		.grid--9cols();
	}

	.grid--10cols\@md {
		.grid--10cols();
	}

	.grid--11cols\@md {
		.grid--11cols();
	}

	.grid--12cols\@md {
		.grid--12cols();
	}

	.grid__item--1col\@md {
		grid-column: span 1;
	}


	.grid__item--2cols\@md {
		grid-column: span 2;
	}


	.grid__item--3cols\@md {
		grid-column: span 3;
	}


	.grid__item--4cols\@md {
		grid-column: span 4;
	}


	.grid__item--5cols\@md {
		grid-column: span 5;
	}


	.grid__item--6cols\@md {
		grid-column: span 6;
	}


	.grid__item--7cols\@md {
		grid-column: span 7;
	}


	.grid__item--8cols\@md {
		grid-column: span 8;
	}


	.grid__item--9cols\@md {
		grid-column: span 9;
	}


	.grid__item--10cols\@md {
		grid-column: span 10;
	}


	.grid__item--11cols\@md {
		grid-column: span 11;
	}


	.grid__item--12cols\@md {
		grid-column: span 12;
	}
}


@media only screen and (min-width: @typro-breakpoint-lg) {
	.grid--2cols\@lg {
		.grid--2cols();
	}

	.grid--3cols\@lg {
		.grid--3cols();
	}

	.grid--4cols\@lg {
		.grid--4cols();
	}

	.grid--5cols\@lg {
		.grid--5cols();
	}

	.grid--6cols\@lg {
		.grid--6cols();
	}

	.grid--7cols\@lg {
		.grid--7cols();
	}

	.grid--8cols\@lg {
		.grid--8cols();
	}

	.grid--9cols\@lg {
		.grid--9cols();
	}

	.grid--10cols\@lg {
		.grid--10cols();
	}

	.grid--11cols\@lg {
		.grid--11cols();
	}

	.grid--12cols\@lg {
		.grid--12cols();
	}

	.grid__item--1col\@lg {
		grid-column: span 1;
	}


	.grid__item--2cols\@lg {
		grid-column: span 2;
	}


	.grid__item--3cols\@lg {
		grid-column: span 3;
	}


	.grid__item--4cols\@lg {
		grid-column: span 4;
	}


	.grid__item--5cols\@lg {
		grid-column: span 5;
	}


	.grid__item--6cols\@lg {
		grid-column: span 6;
	}


	.grid__item--7cols\@lg {
		grid-column: span 7;
	}


	.grid__item--8cols\@lg {
		grid-column: span 8;
	}


	.grid__item--9cols\@lg {
		grid-column: span 9;
	}


	.grid__item--10cols\@lg {
		grid-column: span 10;
	}


	.grid__item--11cols\@lg {
		grid-column: span 11;
	}


	.grid__item--12cols\@lg {
		grid-column: span 12;
	}
}


@media only screen and (min-width: @typro-breakpoint-xl) {
	.grid--2cols\@xl {
		.grid--2cols();
	}

	.grid--3cols\@xl {
		.grid--3cols();
	}

	.grid--4cols\@xl {
		.grid--4cols();
	}

	.grid--5cols\@xl {
		.grid--5cols();
	}

	.grid--6cols\@xl {
		.grid--6cols();
	}

	.grid--7cols\@xl {
		.grid--7cols();
	}

	.grid--8cols\@xl {
		.grid--8cols();
	}

	.grid--9cols\@xl {
		.grid--9cols();
	}

	.grid--10cols\@xl {
		.grid--10cols();
	}

	.grid--11cols\@xl {
		.grid--11cols();
	}

	.grid--12cols\@xl {
		.grid--12cols();
	}

	.grid__item--1col\@xl {
		grid-column: span 1;
	}


	.grid__item--2cols\@xl {
		grid-column: span 2;
	}


	.grid__item--3cols\@xl {
		grid-column: span 3;
	}


	.grid__item--4cols\@xl {
		grid-column: span 4;
	}


	.grid__item--5cols\@xl {
		grid-column: span 5;
	}


	.grid__item--6cols\@xl {
		grid-column: span 6;
	}


	.grid__item--7cols\@xl {
		grid-column: span 7;
	}


	.grid__item--8cols\@xl {
		grid-column: span 8;
	}


	.grid__item--9cols\@xl {
		grid-column: span 9;
	}


	.grid__item--10cols\@xl {
		grid-column: span 10;
	}


	.grid__item--11cols\@xl {
		grid-column: span 11;
	}


	.grid__item--12cols\@xl {
		grid-column: span 12;
	}
}
