/**
 * .typro UI Buttons - Modern Theme
 * 
 * @author		Jan Pecha,	<janpecha@email.cz>
 * @copyright	Jan Pecha, 2011-{$year}
 * @license		http://typro.iunas.cz/license
 * @link		http://typro.iunas.cz/
 * @version		{$version}
 */
.ui-button {
	border: 1px solid transparent;
	border-radius: 3px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}
